@import "../../scss/variables";

.login {
  width: 100%;
  height: 100%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  &__window {
    margin-top: 64px;
    &--form {
      padding: 32px 16px;
      width: 520px;
      background: white;
    }
    &--input {
      margin-bottom: 24px;
      input.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }
    &--help-block {
      margin-top: 8px;
      margin-bottom: 0;
      font-family: $sours-sans-font;
      font-size: 14px;
      color: red;
    }
    &--submit {
      margin: 0 auto;
      display: block;
      width: 150px;
    }
  }
}