@import '../../scss/variables';
.dashboard {
  margin-top: 64px;
  &__timeframes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      margin-bottom: 32px;
      width: 49%;
    }
  }
  &__calculate {
    &--pairs-wrap {
      margin-top: 32px;
      border-top: 1px solid grey;
      border-right: 1px solid grey;
    }
    &--pairs {
      display: grid;
      grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr;
      .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        text-align: center;
        font-size: 14px;
        font-family: $montserrat-font;
        border-left: 1px solid grey;
        border-bottom: 1px solid grey;
        &.title {
          font-weight: 500;
        }
      }
    }
  }
}